
/*=============================================
=            淡入淡出            =
=============================================*/

.carousel.fade .item{
  position: relative;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}
.carousel.fade .item.hide{
  display: none;
}
.carousel.fade .item.active{
  opacity: 1;
}

/*=====  End of 淡入淡出  ======*/




/*=============================================
=            滑动            =
=============================================*/


.carousel.slide .carousel-inner{
  -webkit-transition: transform .8s ease-in-out;
  -moz-transition: transform .8s ease-in-out;
  -o-transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.carousel.slide .item{
  position: relative;
  float: left;
  overflow: hidden;
}

/*=====  End of 滑动  ======*/




/*=============================================
=            无缝滑动 Seamless            =
=============================================*/


.carousel.seamless .carousel-inner.anim{
  -webkit-transition: transform .8s ease-in-out;
  -moz-transition: transform .8s ease-in-out;
  -o-transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.carousel.seamless .carousel-inner{
  transition-duration: 0;
}
.carousel.seamless .item{
  position: relative;
  float: left;
  overflow: hidden;
}


/*=====  End of 无缝滑动 Seamless  ======*/

