
/*=============================================
=            下拉菜单            =
=============================================*/
.dropdown{
    position: relative;
}
.dropdown.open>.dropdown-menu {
    display: block;
}
.dropdown>.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
     display: none;  
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 1px 1px 6px rgba(0,0,0,.175);
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    color: #333;
    white-space: nowrap;
}

/*=====  End of 下拉菜单  ======*/

